<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button style="display:block"></ion-back-button>
    </ion-buttons>
    <ion-title>结束</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handinclick()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-radio-group> -->
    <ion-item *ngFor="let item of radioArr,let i = index" (click)="singleSelect(i)">
      <ion-label>结束 </ion-label>
      <ion-radio [(checked)]="radioArr[i].checked"></ion-radio>
    </ion-item>
    <!-- </ion-radio-group> -->
  </ion-list>
</ion-content>