ion-content {
  position: absolute;
  left: 20vw;
  width: 80vw;
}

.kp {
  width: 100%;
  border-bottom: 2px solid #D1202E;
  padding: 1rem 0 2px 3vw
}

.bt {
  color: #D1202E;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.neir {
  padding: 0.5rem 0 2px 3vw
}

.texts {
  font-size: 0.9rem;
  color: #666666;
}

.fgx {
  display: block;
  width: 90%;
  margin: 7px 0;
  color: #666666;
  border-bottom: 1px solid rgb(204, 204, 204);
}