.bg-bule{
    background-color: #4877fb;
}
  .Preservation{
      padding-right: .5rem
  }

  .title-cy{
      background-color: #f3f3f3;
  }
  .padding{
    -webkit-padding-start: 0!important; 
     padding-inline-start: 0!important;
     -webkit-padding-end: 0!important; 
     padding-inline-end: 0!important;
     text-align: left!important;
     text-indent: 1rem;
     color: #1e9fff!important;
     font-weight: 500!important;
  }