<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button style="display:block" text=''></ion-back-button>
    </ion-buttons>
    <ion-title>拟办意见</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleAdvice(0,adviceForm.value)">保存</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="adviceForm">
    <div class="login-form">
      <div style="border: solid 1px #f4f4f4;padding: 5px; border-radius: 3px;">
        <ion-textarea rows="12" cols="20" placeholder="请输入您的意见" [(ngModel)]="CurAttitude" formControlName="advice">
        </ion-textarea>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg>
            <ion-button color="success" class="ion-color ion-color-secondary button button-full button-solid ion-activatable ion-focusable hydrated"
              (click)="handleAdvice(1,adviceForm.value)" value="提交">{{handinButtonTitle}}</ion-button>
            <ion-button *ngIf="IsShowHandinAndGiveButton" ion-button color="danger" value="提交并分发文件" (click)="handinandgiveFile()">
              提交并分发文件
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-lg>
            <ion-button color="secondary" class="ion-color ion-color-secondary button button-full button-solid ion-activatable ion-focusable hydrated"
              (click)="handOver(adviceForm.value)" value="移交">移交</ion-button>
          </ion-col>
          <ion-col size="6" size-lg>
            <ion-button color="warning" class="ion-color ion-color-secondary button button-full button-solid ion-activatable ion-focusable hydrated"
              (click)="sendBack(adviceForm.value)" value="退回">退回</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="line" *ngIf="formErrors.advice"></div>
      <app-verification *ngIf="formErrors.advice" [text]="formErrors.advice"></app-verification>
    </div>
  </form>

  <ion-grid>
    <ion-row class="title-cy">
      <ion-col size="8" size-lg>
        <ion-title class="padding"> 常用语列表</ion-title>
      </ion-col>
      <ion-col size="4" size-lg>
        <ion-button color="primary" size="small" class="ion-color ion-color-secondary button button-full button-solid ion-activatable ion-focusable hydrated">
          编辑</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let item of oftenuseArr,let i = index" (click)="gettheoftenuse(i)">
      {{item['Text']}}
    </ion-item>
  </ion-list>
</ion-content>