<ion-header>
  <ion-toolbar>
    <ion-icon style="float:left;width:50px;height:30px" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon>
    <ion-title>提交意见</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="adviceForm">
    <div class="login-form">
      <ion-button color="secondary" value="保存" [disabled]="!adviceForm.valid"
        (click)="handleAdvice(0,adviceForm.value)">保存</ion-button>
      <ion-button ion-button color="danger" value="提交" (click)="handleAdvice(1,adviceForm.value)">{{handinButtonTitle}}
      </ion-button>
      <ion-button *ngIf="IsShowHandinAndGiveButton" ion-button color="danger" value="提交并分发文件" (click)="handinandgiveFile()">
        提交并分发文件
      </ion-button>

      <ion-input style="width:100%; height: 100px;" type="text" placeholder="请输入您的意见" [(ngModel)]="CurAttitude"
        formControlName="advice">
      </ion-input>
      <div class="line" *ngIf="formErrors.advice"></div>
      <app-verification *ngIf="formErrors.advice" [text]="formErrors.advice"></app-verification>
    </div>
  </form>
  <ion-label>
    常用语列表
  </ion-label>
  <ion-list>
    <ion-item *ngFor="let item of oftenuseArr,let i = index" (click)="gettheoftenuse(i)">
      {{item['Text']}}
    </ion-item>
  </ion-list>
</ion-content>