<ion-header>
  <ion-toolbar>
    <ion-title>填写保密意见</ion-title>
    <ion-buttons style="margin-right: 1rem;font-size: 0.9rem;" slot="end" (click)="handinclick()">
      提交
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div *ngIf="floor == 2">
 <ion-label *ngIf="dataArr.length > 0">
   <div *ngFor="let item of dataArr,let i = index">
    <ion-label>
      {{item['Label']}}
      </ion-label>
      <ion-list>
       <ion-item *ngFor="let subitem of item['Children']" (click)="singleselect(subitem,i)">
         <ion-label>
           {{subitem['Label']}}
           </ion-label>
           <ion-radio [(checked)]="selectItem == subitem"></ion-radio>
       </ion-item>
        </ion-list>
   </div>
  </ion-label>
</div>

<div *ngIf="floor == 3">
    <ion-label *ngIf="dataArr.length > 0">
        <div *ngFor="let item of dataArr,let i = index">
         <ion-label>
           {{item['Label']}}
           </ion-label>
           <ion-list>
            <div *ngFor="let subitem of item['Children']">
              <ion-label>
                {{subitem['Label']}}
                </ion-label>
                <ion-list>
                    <ion-item *ngFor="let subitem2 of subitem['Children'],let j = index" (click)="singleselect(subitem2,j)">
                      <ion-label>
                        {{subitem2['Label']}}
                        </ion-label>
                        <ion-radio [(checked)]="selectItem == subitem2"></ion-radio>
                    </ion-item>
                     </ion-list>
            </div>
             </ion-list>
        </div>
       </ion-label>
</div>
</ion-content>
