<ion-content
  class=""
  [ngClass]="{ treeContent: selectedType !== '3' && selectedType !== '4' }"
>
  <ion-list class="checkClass" *ngIf="selectedType === '1'">
    <ion-radio-group>
      <ion-item *ngFor="let item of listdataArr; let i = index">
        <ion-radio
          [(checked)]="listdataArr[i].checked"
          (ionSelect)="singleSelect(item)"
        ></ion-radio>
        <ion-label (click)="item.checked = true">{{ item['text'] }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list class="checkClass" *ngIf="selectedType === '2'">
    <ion-item *ngFor="let item of listdataArr; let i = index">
      <ion-checkbox
        [(checked)]="listdataArr[i].checked"
        [(ngModel)]="listdataArr[i].checked"
        (ionChange)="mutiSelect(item, $event.detail.checked)"
      ></ion-checkbox>
      <ion-label>{{ item['text'] }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="checkClass" mode="md" *ngIf="selectedType === '3'">
    <ion-item *ngFor="let item of listdataArr; let i = index">
      <ion-checkbox
        [(checked)]="listdataArr[i].checked"
        (ionChange)="mutiSelect(item, $event.detail.checked)"
      ></ion-checkbox>
      <ion-label>{{ item['Label'] }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="checkClass" mode="md" *ngIf="selectedType === '4'">
    <ion-radio-group>
      <ion-item *ngFor="let item of listdataArr; let i = index">
        <ion-label>{{ item['Label'] }}</ion-label>
        <ion-radio
          [(checked)]="listdataArr[i].checked"
          (ionSelect)="singleSelect(item)"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
