<ion-header>
  <ion-toolbar>
    <ion-icon style="float:left;width:50px;height:30px" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="type == 1" slot="end" (click)="pushtoadvice()">
      意见
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding:0">
  <app-handleinfo [itemmodel]="itemmodel" *ngIf="type == 1"></app-handleinfo>
  <app-circulationinfo [itemmodel]="itemmodel" *ngIf="type == 2"></app-circulationinfo>
  <app-attachmentlist [itemmodel]="itemmodel" *ngIf="type == 3"></app-attachmentlist>
  <app-sign [itemmodel]="itemmodel" *ngIf="type == 4"></app-sign>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1" checked>
      <ion-label>办理信息</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>流转</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>附件</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>办文签</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- <div style="height: 1rem"></div> -->
  <!-- 在四个组件中切换 -->
  <!-- <content>
    
  </content> -->
</ion-content>