<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons [hidden]="!nbyj()" slot="end">
      <ion-button (click)="pushtoadvice()">拟办意见</ion-button>
    </ion-buttons>
    <ion-buttons [hidden]="!(itemmodel['Backable'] && !nbyj())" slot="end">
      <ion-button (click)="getBack(itemmodel)">取回</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding:0">
  <app-handleinfo [itemmodel]="itemmodel" [hidden]="type != '1'"></app-handleinfo>
  <app-circulationinfo [itemmodel]="itemmodel" [hidden]="type != '2'"></app-circulationinfo>
  <app-attachmentlist [itemmodel]="itemmodel" [hidden]="type != '3'"></app-attachmentlist>
  <app-sign [itemmodel]="itemmodel" [hidden]="type != '4'"></app-sign>
  <app-sign [itemmodel]="itemmodel" [hidden]="type != '5'"></app-sign>
  <app-documentpaper [itemmodel]="itemmodel" [hidden]="type != '7'"></app-documentpaper>
  <div class="parent" [hidden]="type != '6'">
    <ion-button (click)="openDocument()" class="center">再次打开正文</ion-button>
  </div>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1" checked>
      <ion-label>办理信息</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>流转信息</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="itemmodel['documenttype'] == 1" value="4">
      <ion-label>办文笺</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="itemmodel['documenttype'] == 2" value="5">
      <ion-label>发文笺</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="itemmodel['documenttype'] == 2 || itemmodel['documenttype'] == 5" value="6">
      <ion-label>正文</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>附件</ion-label>
    </ion-segment-button>
    <ion-segment-button value="7">
      <ion-label>相关公文</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- <div style="height: 1rem"></div> -->
  <!-- 在五个组件中切换 -->
  <!-- <content>
    
  </content> -->
</ion-content>