<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button text='返回'></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <div class="sykys">
    <input type="text" [(ngModel)]="searchStr" placeholder="请输入标题" class="input">
    <ion-icon name="search" (click)="seachclick(searchStr)" class="syktb"></ion-icon>
  </div>
</ion-header>

<ion-content style="--background: #EFEFEF;">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="listdataArr.length===0&&!loading">
    <ion-card-content>
      没有数据
    </ion-card-content>
  </ion-card>
  <ion-card class="kp" *ngFor="let item of listdataArr,let i = index">
    <ion-card-content class="kpnr" (click)="pushIntodetail(item)">

      <!-- 收文待办  -->
      <div *ngIf="title == '收文待办'">
        <ion-note color="danger" class="kpbt" *ngIf="item['color'] == '#D1202E'">{{item.Title}}</ion-note>
        <ion-note color="warning" class="kpbt" *ngIf="item['color'] == '#F99D31'">{{item.Title}}</ion-note>
        <ion-note color="primary" class="kpbt" *ngIf="item['color'] == '#2D3479'">{{item.Title}}</ion-note>
        <div style="max-width: 330px">
          <div>
            <ion-label class="label">
              来文单位：{{item.Department}}
            </ion-label>
            <ion-label class="label label-nopa">
              经办人：{{item.Staff}}
            </ion-label>
          </div>
          <div>
            <ion-label class="label">
              当前活动：{{item.ItemActionName}}
            </ion-label>
            <ion-label class="label label-nopa">
              状态：{{item.ItemStatus}}
            </ion-label>
          </div>
        </div>
      </div>

      <!-- 发文待办 -->
      <div *ngIf="title == '发文待办'">
        <ion-note color="primary" class="kpbt" *ngIf="title == '发文待办' || title == '已办发文'">{{item.Title}}</ion-note>
        <div style="max-width: 330px">
          <div>
            <ion-label class="label">
              拟稿部门：{{item.DeptName}}
            </ion-label>
            <ion-label class="label label-nopa">
              主&#12288;送：{{item.Department}}
            </ion-label>
          </div>
          <div>
            <ion-label class="label">
              当前活动：{{item.CurAction}}
            </ion-label>
            <ion-label class="label label-nopa">
              状态：{{item.ItemStatus}}
            </ion-label>
          </div>
        </div>
      </div>

      <!--  已办发文 -->
      <div *ngIf="title == '已办发文'">
        <ion-note color="primary" class="kpbt">{{item.Title}}</ion-note>
        <div style="max-width: 330px">
          <div>
            <ion-label class="label">
              公文文号：{{item.SerialNumber}}
            </ion-label>
          </div>
          <div>
            <ion-label class="label">
              拟稿部门：{{item.DeptName}}
            </ion-label>
            <ion-label class="label label-nopa">
              主&#12288;送：{{item.Department}}
            </ion-label>
          </div>
        </div>
      </div>

      <!-- 传阅 -->
      <div *ngIf="title == '传阅件'">
        <ion-note color="primary" class="kpbt">{{item.Title}}</ion-note>
        <div style="max-width: 330px">
          <div>
            <ion-label class="label">
              收件日期：{{item.CreateDate}}
            </ion-label>
          </div>
          <div>
            <ion-label class="label">
              来文单位：{{item.Department}}
            </ion-label>
            <ion-label class="label label-nopa">
              来文文号：{{item.SerialNumber}}
            </ion-label>
          </div>
        </div>
      </div>

      <!-- 已办收文 -->
      <div *ngIf="title == '已办收文'">
        <ion-note color="primary" class="kpbt">{{item.Title}}</ion-note>
        <div style="max-width: 330px">
          <div>
            <ion-label class="label">
              公文文号：{{item.SerialNumber}}
            </ion-label>
            <ion-label class="label  label-nopa">
              处理类型：{{item.DealType}}
            </ion-label>
          </div>
          <div>
            <ion-label class="label">
              来文单位：{{item.Department}}
            </ion-label>
            <ion-label class="label label-nopa">
              收件日期：{{item.CreateDate}}
            </ion-label>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
    <ion-item *ngFor="let item of listdataArr,let i = index" (click)="pushIntodetail(item)">
      <ion-note color="danger" *ngIf="type == 1 && item['color'] == 'red'">{{item.Emergency}}</ion-note>
      <ion-note color="warning" *ngIf="type == 1 && item['color'] == 'yellow'">{{item.Emergency}}</ion-note>
      <ion-note color="primary" *ngIf="type == 1 && item['color'] == 'black'">{{item.Emergency}}</ion-note>
     
      <div padding style="max-width: 285px">
        <ion-label>
          {{item['Title']}}
        </ion-label>
        <ion-label style="padding-top: 8px;font-size:14px;">
          经办人：{{item.Staff}}
        </ion-label>
      </div>
    </ion-item>
  </ion-list> -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)" [disabled]="nohasmore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<!-- <span *ngIf="type == 1 && item['color'] == 'red'" style="color: red">{{item.Emergency}} &nbsp;&nbsp;</span>
     <span *ngIf="type == 1 && item['color'] == 'yellow'" style="color: yellow">{{item.Emergency}} &nbsp;&nbsp; </span>
     <span *ngIf="type == 1 && item['color'] == 'black'" style="color: black">{{item.Emergency}} &nbsp;&nbsp; </span> -->