<ion-header>
  <ion-toolbar>
    <ion-icon style="float:left;width:50px;height:30px;color: black" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon>
    <ion-title>公文列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of listdataArr,let i = index">
     <span class="EmergencyColor">{{item.Emergency}}</span> <ion-label>{{item['Title']}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)" [disabled]="nohasmore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>