<ion-content>
  <div class='list' style='text-align: center'>
    <span class='bt'>{{title}}</span>
  </div>
  <div class='neir'>
    <!-- 收文 -->
    <div *ngIf="itemmodel.documenttype == 1">
      <div>
        <span class='texts' style='margin-right: 8%;'>紧急程度：{{ itemmodel.Emergency }}</span>
        <span class='texts' style="min-width: 56%;display: inline-block;">办结时限：{{ itemmodel.FinishDate}}</span>
      </div>
      <div>
        <span class='texts'>标题：</span>
        <span class='texts'>{{ itemmodel.Title }}</span>
      </div>
      <div>
        <span class='texts'>来文单位：</span>
        <span class='texts'>{{ itemmodel.Department }}</span>
      </div>
      <div>
        <span class='texts'>公文文号：</span>
        <span class='texts'>{{ itemmodel.SerialNumber }}</span>
      </div>
      <div>
        <span class='texts'>处理类型：</span>
        <span class='texts'>{{ itemmodel.DealType }}</span>
      </div>
      <div>
        <span class='texts'>收文人：</span>
        <span class='texts'>{{ itemmodel.Staff }}</span>
      </div>
      <div>
        <span class='texts'>收件日期：</span>
        <span class='texts'>{{ itemmodel.CreateDate }}</span>
      </div>
      <div>
        <span class='texts'>来文落款时间：</span>
        <span class='texts'>{{ itemmodel.Date }}</span>
      </div>
      <div>
        <span class='texts'>登记备注：</span>
        <span class='texts'>{{ itemmodel.Remark }}</span>
      </div>
    </div>
    <!-- 发文 -->
    <div *ngIf="itemmodel.documenttype == 2">
      <div>
        <span class='texts'>密级：{{ itemmodel.Secret }}</span>
      </div>
      <div>
        <span class='texts'>紧急程度：{{ itemmodel.FinishDate}}</span>
      </div>
      <div>
        <span class='texts'>正文模板：</span>
        <span class='texts'>{{ itemmodel.TemplateTypeId }}</span>
      </div>
      <div>
        <span class='texts'>发文类型：</span>
        <!-- <span class='texts'>{{ itemmodel. }}</span> -->
      </div>
      <div>
        <span class='texts'>公文文号：</span>
        <span class='texts'>{{ itemmodel.SerialNumber }}</span>
      </div>
      <div>
        <span class='texts'>份数：</span>
        <span class='texts'>{{ itemmodel.PrintCount }}</span>
      </div>
      <div>
        <span class='texts'>文件标题：</span>
        <span class='texts'>{{ itemmodel.Title }}</span>
      </div>
      <div>
        <span class='texts'>主送：</span>
        <span class='texts'>{{ itemmodel.Department }}</span>
      </div>
      <div>
        <span class='texts'>抄送：</span>
        <span class='texts'>{{ itemmodel.CopyDepartment }}</span>
      </div>
      <div>
        <span class='texts'>政府信息公开类型：</span>
        <span class='texts'>{{ itemmodel.PublicType }}</span>
      </div>
      <div>
        <span class='texts'>保密审查：</span>
        <span class='texts'>{{ itemmodel.SecretCheck }}</span>
      </div>
      <div>
        <span class='texts'>依申请公开的理由：</span>
        <!-- <span class='texts'>{{ itemmodel. }}</span> -->
      </div>
      <div>
        <span class='texts'>主题词：</span>
        <span class='texts'>{{ itemmodel.KeyWords }}</span>
      </div>
      <div>
        <span class='texts'>信息公开检查意见：</span>
        <span class='texts'>{{ itemmodel.InspectionOpinion }}</span>
      </div>
      <div>
        <span class='texts'>保密审查意见：</span>
        <span class='texts'>{{ itemmodel.SecrecyOpinion }}</span>
      </div>
      <div>
        <span class='texts'>拟稿备注：</span>
        <span class='texts'>{{ itemmodel.Remark }}</span>
      </div>
      <div>
        <span class='texts'>拟稿部门：</span>
        <span class='texts'>{{ itemmodel.DeptName }}</span>
      </div>
      <div>
        <span class='texts'>拟稿人：</span>
        <span class='texts'>{{ itemmodel.StaffName }}</span>
      </div>
      <div>
        <span class='texts'>签发时间：</span>
        <span class='texts'>{{ itemmodel.SignDate }}</span>
      </div>
    </div>
  </div>
</ion-content>