<ion-content>
  <!-- <div class='list' style='text-align: center'>
    <span class='bt'>{{title}}</span>
  </div> -->
  <div class='neir'>
    <!-- 收文 -->
    <div *ngIf="itemmodel.documenttype == 1 && myData">
      <div>
        <span class='texts' style='margin-right: 8%;'>紧急程度：{{ myData.Emergency }}</span>
        <span class='texts' style="min-width: 56%;display: inline-block;">办结时限：{{ myData.FinishDate | date:'yyyy年MM月dd日
          HH:mm'}}</span>
      </div>
      <div>
        <span class='texts'>标题：</span>
        <span class='texts'>{{ myData.Title }}</span>
      </div>
      <div>
        <span class='texts'>来文单位：</span>
        <span class='texts'>{{ myData.Department }}</span>
      </div>
      <div>
        <span class='texts'>公文文号：</span>
        <span class='texts'>{{ myData.SerialNumber }}</span>
      </div>
      <div>
        <span class='texts'>处理类型：</span>
        <span class='texts'>{{ myData.DealType }}</span>
      </div>
      <div>
        <span class='texts'>收文人：</span>
        <span class='texts'>{{ myData.StaffName }}</span>
      </div>
      <div>
        <span class='texts'>收件日期：</span>
        <span class='texts'>{{ myData.CreateDate | date:'yyyy年MM月dd日 HH:mm' }}</span>
      </div>
      <div>
        <span class='texts'>来文落款时间：</span>
        <span class='texts'>{{ myData.Date | date:'yyyy年MM月dd日 HH:mm' }}</span>
      </div>
      <div>
        <span class='texts'>登记备注：</span>
        <span class='texts'>{{ myData.Remark }}</span>
      </div>
    </div>
    <!-- 发文 -->
    <div *ngIf="itemmodel.documenttype == 2 && myData">
      <div>
        <span class='texts' style='margin-right: 8%;'>密级：{{ myData.Secret }}</span>
        <span class='texts' style="min-width: 56%;display: inline-block;">紧急程度：{{
          myData.Emergency
          }}</span>
      </div>
      <div>
        <span class='texts'>正文模板：</span>
        <span class='texts'>{{ templateType }}</span>
      </div>
      <div>
        <span class='texts'>发文类型：</span>
        <span class='texts'>{{ myData.Type }}</span>
      </div>
      <div>
        <span class='texts'>公文文号：</span>
        <span class='texts'>{{ myData.SerialNumber }}</span>
      </div>
      <div>
        <span class='texts'>份数：</span>
        <span class='texts'>{{ myData.PrintCount }}</span>
      </div>
      <div>
        <span class='texts'>文件标题：</span>
        <span class='texts'>{{ myData.Title }}</span>
      </div>
      <div>
        <span class='texts'>主送：</span>
        <span class='texts'>{{ myData.Department }}</span>
      </div>
      <div>
        <span class='texts'>抄送：</span>
        <span class='texts'>{{ myData.CopyDepartment }}</span>
      </div>
      <div>
        <span class='texts'>政府信息公开类型：</span>
        <span class='texts'>{{ myData.PublicType }}</span>
      </div>
      <div *ngIf="myData.PublicType !== '非政府信息'">
        <!-- <div>
          <span class='texts'>保密审查：</span>
          <span class='texts' *ngIf="myData.SecretCheck">
            <ion-icon name="checkmark-circle-outline" style="vertical-align: middle;font-size: 1.2rem;color: rgb(0, 153, 0);"
              mode='ios'></ion-icon>
          </span>
          <span class='texts' *ngIf="!myData.SecretCheck">
            <ion-icon name="close-circle-outline" style="vertical-align: middle;font-size: 1.2rem;color: rgb(153, 0, 0);"
              mode='ios'></ion-icon>
          </span>
        </div> -->
        <div>
          <span class='texts'>依申请公开的理由：</span>
          <div *ngFor="let item of this.myData.TypeStr" style='display: inline;'>
            <div *ngIf="item.text !== '其他理由' && item.checkbox" style='display: inline;'>
              <!-- <span class='texts' *ngIf="!item.checkbox">
                  <ion-icon name="close-circle-outline" style="vertical-align: middle;font-size: 1.2rem;" mode='ios'></ion-icon>
                </span> -->
              <span class='texts'>
                <ion-icon name="checkmark-circle-outline" style="vertical-align: middle;font-size: 1.2rem;color: rgb(0, 153, 0);"
                  mode='ios'></ion-icon>
              </span>
              <span class='texts' *ngIf="item.text !== '其他理由'">{{ item.text }}</span>
            </div>
            <div *ngIf="item.text === '其他理由' && item.checkbox" style='white-space:normal; word-break:break-all;'>
              <span class='texts'>
                <ion-icon name="checkmark-circle-outline" style="vertical-align: middle;font-size: 1.2rem;color: rgb(0, 153, 0);"
                  mode='ios'></ion-icon>
              </span>
              <span class='texts'>{{ item.text }}：</span>
              <span class='texts'>{{ item.other_text }}</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span class='texts'>主题词：</span>
        <span class='texts'>{{ myData.KeyWords }}</span>
      </div>
      <div>
        <span class='texts'>信息公开检查意见：</span>
        <span class='texts'>{{ myData.InspectionOpinion }}</span>
      </div>
      <div>
        <span class='texts'>保密审查意见：</span>
        <span class='texts'>{{ myData.SecrecyOpinion }}</span>
      </div>
      <div>
        <span class='texts'>拟稿备注：</span>
        <span class='texts'>{{ myData.Remark }}</span>
      </div>
      <div>
        <span class='texts'>拟稿部门：</span>
        <span class='texts'>{{ myData.DeptName }}</span>
      </div>
      <div>
        <span class='texts'>拟稿人：</span>
        <span class='texts'>{{ myData.StaffName }}</span>
      </div>
      <div>
        <span class='texts'>签发时间：</span>
        <span class='texts'>{{ myData.SignDate|date:'yyyy年MM月dd日 HH:mm' }}</span>
      </div>
    </div>
  </div>
</ion-content>