<ion-header>
  <ion-toolbar color="primary">
    <ion-icon
      style="float:left;width:50px;height:30px"
      name="ios-arrow-back"
      (click)="canGoBack()"
    ></ion-icon>
    <ion-title>退回</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="commit()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngTemplateOutlet="
      treeTpl;
      context: { $implicit: { items: tree, root: true } }
    "
  ></ng-container>

  <ng-template #treeTpl let-context>
    <ion-list mode="md">
      <ion-radio-group>
        <div
          *ngFor="let item of context.items"
          [ngClass]="context.root ? 'root' : ''"
        >
          <ion-icon
            style="float: left;"
            mode="md"
            [name]="
              item.hidden === false ? 'arrow-dropdown' : 'arrow-dropright'
            "
          >
          </ion-icon>
          <ion-radio
            mode="md"
            checked="item.checked"
            (ionSelect)="singleSelect(item, context.data)"
          ></ion-radio>
          <ion-label> {{ item.Label }}</ion-label>
          <ng-container
            *ngTemplateOutlet="
              treeTpl;
              context: {
                $implicit: { items: item.Children, root: false, data: item.Id }
              }
            "
          ></ng-container>
        </div>
      </ion-radio-group>
    </ion-list>
  </ng-template>
</ion-content>
