<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>退回</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="commit()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin:1em">
    <ion-radio-group>
      <ng-container
        *ngTemplateOutlet="treeTpl; context: { items: tree, level: 0 }"
      ></ng-container>
    </ion-radio-group>
  </div>

  <ng-template #treeTpl let-items="items" let-level="level" let-data="data">
    <ion-list mode="md">
      <div
        *ngFor="let item of items"
        [ngClass]="level === 0 ? 'root' : ''"
        (click)="singleSelect(item, data, $event)"
      >
        <ion-icon
          [ngStyle]="{ paddingLeft: level + 'em' }"
          [ngClass]="{ hide: item.data.Type == 2 }"
          [name]="item.expanded ? 'arrow-dropdown' : 'arrow-dropright'"
        ></ion-icon>

        <ion-radio
          [(checked)]="item.checked"
          *ngIf="item.data.Type == 2"
          (click)="singleSelect(item, data, $event)"
        ></ion-radio>

        <ion-label> {{ item.text }}</ion-label>
        <div *ngIf="item.expanded && item.children.length">
          <ng-container
            *ngTemplateOutlet="
              treeTpl;
              context: {
                items: item.children,
                level: level + 1,
                data: item.value
              }
            "
          ></ng-container>
        </div>
      </div>
    </ion-list>
  </ng-template>
</ion-content>
