/* 全局css */
.flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.flex1W100 {
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  display: block;
}

.flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  display: block;
}

.flexContent {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.flexLeftContent {
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -ms-box-pack: initial;
  -o-box-pack: initial;
  box-pack: initial;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.flexRightContent {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  -o-box-pack: end;
  box-pack: end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.center {
  text-align: center !important;
}

.bgfff {
  background: white;
}

.ptb-2 {
  padding: 2rem 0 !important;
}

.ptb-1 {
  padding: 1rem 0 !important;
}

.mlr-2 {
  margin: 0 2rem !important;
}

.pad-1 {
  padding: 1rem;
}

ion-select {
  max-width: 80% !important;
}

.myInput {
  padding: 0 8px 0 16px;
  width: 100%;
  display: block;
  border: 0;
}

.marginLeft0 {
  margin-left: 0 !important;
}

.border0 {
  border: 0 !important;
}

.w100 {
  width: 100%;
}

.ww100 {
  width: 100vw;
}

.ww80 {
  width: 80vw;
}

.ww70 {
  width: 70vw;
}

.ww60 {
  width: 60vw;
}

.ww40 {
  width: 40vw;
}

.ww30 {
  width: 30vw;
}

.ww25 {
  width: 25vw;
}

.font22px {
  font-size: 22px;
}

input[disabled] {
  opacity: 0.4;
  cursor: default;
  background: none;
}

.subtitle {
  color: #ffffff;
  padding: 5px 0 5px;
  text-align: center;
  font-size: 16px;
  border-color: #0c60ee;
  background-color: #387ef5;
}

.bgc-6a8 {
  background-color: #6a81ae;
}

.maxwid-20 {
  max-width: 20% !important;
}

.borrad-50 {
  border-radius: 50%;
}

.tx-a-c {
  text-align: center;
}
