<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button style="display:block"></ion-back-button>
    </ion-buttons>
    <ion-title>人员机构</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handin()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-segment mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button mode="md" value="1" *ngIf="true" checked>
      <ion-label>主办</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="2" *ngIf="true">
      <ion-label>协办</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="3" *ngIf="true">
      <ion-label>传阅</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="4" *ngIf="true && IsShowNextStep">
      <ion-label>下一步</ion-label>
    </ion-segment-button>
  </ion-segment>

  <department-select [isSingleSlect]="'1'" [hasSelected]="hasSelected" (selected)="hostSelected($event.items)" *ngIf="type == 1"></department-select>
  <department-select [isSingleSlect]="'2'" [hasSelected]="hasSelected" (selected)="hostSelected($event.items)" *ngIf="type == 2"></department-select>
  <next-select *ngIf="type == 3" state="1" [hasSelected]="hasSelected" (selected)="nextSelected($event.items)">
  </next-select>
  <next-select [hidden]="type != 4" state="0" [hasSelected]="hasSelected" (selected)="nextSelected($event.items,$event.leaderChecked,$event.nbChecked)"></next-select>
  <!-- <department-select [isSingleSlect]="true" [hasSelected]="itemmodel" (selected)="hostSelected($event.items)" *ngIf="type == 1"></department-select>
  <department-select [isSingleSlect]="false" [hasSelected]="itemmodel" (selected)="hostSelected($event.items)" *ngIf="type == 2"></department-select>
  <next-select *ngIf="type == 3" state="1" (selected)="nextSelected($event.items)"></next-select>
  <next-select *ngIf="type == 4" state="0" (selected)="nextSelected($event.items)"></next-select> -->
</ion-content>