<ion-content padding>
  <div class='qxb'>
    <div class='zbzt'>
      <span>请<br>把<br>手<br>机<br>横<br>置<br>签<br>名<br>,<br>左<br>边<br>朝<br>上</span>
    </div>
    <signature-pad [options]="signaturePadOptions" id="signatureCanvas" class='sqb'></signature-pad>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-button ion-button full color="danger" (click)="drawCancel()">取消</ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button ion-button full color="light" (click)="drawClear()">清除</ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button ion-button full color="secondary" (click)="drawComplete()">完成</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>