<ion-header>
  <ion-toolbar>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="password">
  <div class="globalFrom">
    <div class="flexBox passwordFrom">
      <span class="flexLeftContent">密码</span>
      <ion-input
        class="flexRightContent"
        placeholder="请输入新密码"
      ></ion-input>
    </div>
    <div class="flexBox passwordFrom">
      <span class="flexLeftContent">确认密码</span>
      <ion-input
        class="flexRightContent"
        placeholder="请再次输入密码"
      ></ion-input>
    </div>
  </div>
  <div style="margin-top: 2rem;padding: 0 2rem;">
    <ion-button expand="block">保存</ion-button>
  </div>
</ion-content>
