<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button text='返回'></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="password">
  <div class="globalFrom">
    <div class="flexBox passwordFrom">
      <span class="flexLeftContent">密码</span>
      <ion-input class="flexRightContent" placeholder="请输入新密码" [(ngModel)]="myData.newPassword"></ion-input>
    </div>
    <div class="flexBox passwordFrom">
      <span class="flexLeftContent">确认密码</span>
      <ion-input class="flexRightContent" placeholder="请再次输入密码" [(ngModel)]="mima"></ion-input>
    </div>
  </div>
  <div style="margin-top: 2rem;padding: 0 2rem;">
    <ion-button expand="block" (click)="Confirm()" [disabled]="!myData.newPassword || mima ==''">保存</ion-button>
  </div>
</ion-content>