* {
  margin: 0;
  padding: 0;
}
.password {
  --background: var(--ion-background-color, #f3f3f3);
}
.globalFrom {
  margin-top: 1rem;
}
.passwordFrom {
  height: 9.45vh;
  line-height: 9.45vh;
  display: flex;
  background: #fff;
  border-bottom: solid 0.05rem #999;
}
.passwordFrom span {
  min-width: 100px;
  padding: 0 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
