<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button style="display:block"></ion-back-button>
    </ion-buttons>
    <ion-title>修改手机号码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="phoneNumber">
  <div class="flexBox changeFrom">
    <span class="flexLeftContent">+86</span>
    <ion-input class="flexRightContent" placeholder="请输入手机号码"></ion-input>
  </div>
  <div style="margin-top: 2rem;padding: 0 2rem;">
    <ion-button expand="block">保存</ion-button>
  </div>
</ion-content>