@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changyonghuifu2:before {
  content: '\e690';
}

.icon-mima:before {
  content: '\e60f';
}

.icon-QR:before {
  content: '\e639';
}

.icon-right:before {
  content: '\e955';
}

.icon-tuichudenglu:before {
  content: '\e608';
}

.icon-banbenxinxi:before {
  content: '\e61e';
}

.icon-yonghuming:before {
  content: '\e610';
}

.icon-mima1:before {
  content: '\e61b';
}

.icon-chakan:before {
  content: '\e604';
}

.icon-queren:before {
  content: '\e611';
}

.icon-xuqian:before {
  content: '\e61c';
}

.icon-zhihang:before {
  content: '\e627';
}

.icon-xiangmuwancheng:before {
  content: '\e634';
}

.icon-icon_boss:before {
  content: '\eb90';
}

.icon-icon_addressbook:before {
  content: '\eb91';
}

.icon-icon_workset:before {
  content: '\eba1';
}
