<ion-content>
  <div *ngFor="let item of parenteArr; let i = index">
    <div class="kp neir">
      <div class="bt neirbt" (click)="getsubtitle(item)" [ngStyle]="{'color': forecolors[item.ActionName],'background-color': backcolors[item.ActionName]}">
        <ion-icon mode='md' [name]="item.hidden===false?'arrow-dropdown':'arrow-dropright'" class="bttb"></ion-icon>
        <span>{{item['ActionName']}}</span><small *ngIf="item.children.length">（ {{item.children.length}} ）</small>
      </div>
      <div *ngIf="!item.hidden">
        <div *ngFor="let subitem of item['children']; let n = index">
          <div class="reny">
            <h5 class="texts" style="font-weight:bold">活动名称：{{subitem.ActionName}}</h5>
            <p class="texts">签收日期：{{ subitem.SignDate | date:'yyyy年MM月dd日 HH:mm'}}</p>
            <p class="texts">开始日期：{{ (subitem.Date ? subitem.Date : '').split(' / ')[0] | date:'yyyy年MM月dd日 HH:mm'}}</p>
            <p class="texts">结束日期：{{ (subitem.Date ? subitem.Date : '').split(' / ')[1] | date:'yyyy年MM月dd日 HH:mm'}}</p>
            <div>
              <span class='texts' style='margin-right: 8%;'>经办用户：{{ subitem['ActUsr'] }}</span>
              <span class='texts' style="min-width: 50%;display: inline-block;">状态：{{
                subitem['State']
                }}</span>
            </div>

            <p class="texts">意见：{{ subitem['Attitude'] }}</p>
          </div>
          <span class='fgx' *ngIf="n < item['children'].length - 1"></span>
        </div>
        <span class='fgx' *ngIf="item.children.length !== 0" [ngStyle]="{'border-bottom-color': forecolors[item['ActionName']]}"></span>
      </div>
      <!-- <p class="texts" style="margin-top:0.5em" *ngIf="item.children.length === 0"> &nbsp; 没有记录</p> -->
    </div>
  </div>
</ion-content>