div {
    clear: both;
}

// .padleft {
//     padding-left: 2rem;
// }

ion-content {
    position: absolute;
    left: 20vw;
    width: 80vw;
}

.kp {
    width: 100%;
    padding: 0 0 2px 0
}

.neir {
    padding: 0.5rem 0 2px 0
}

.bt {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.bttb {
    font-size: 2rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.reny {
    padding-left: 3vw;
}

.texts {
    font-size: 0.8rem;
    color: #666666;
}
p.texts{
    margin: 0;
}

.fgx {
    display: block;
    margin: 7px 0;
    color: #666666;
    border-bottom: 1px solid rgb(204, 204, 204);
}