<ion-button *ngFor="let item of buttonList,let i = index" style="white-space:nowrap" size="small" color="primary"
  (click)="indexClick(buttonList[i])">
  {{item.text}}<ion-icon name="arrow-forward"></ion-icon>
</ion-button>

<ion-list mode="md">
  <div *ngFor="let item of showList,let i = index">
    <ion-checkbox [(ngModel)]="showList[i].checked" (ionChange)="checkboxClick(showList[i],$event.detail.checked)"></ion-checkbox>
    <ion-label (click)="itemClick(showList[i])">{{item['text']}}</ion-label>
  </div>
</ion-list>