<ion-content>
  <!-- <ion-button *ngFor="let item of buttonList,let i = index" style="white-space:nowrap" size="small" color="primary" (click)="indexClick(item)">
    {{item.text}}<ion-icon name="arrow-forward"></ion-icon>
  </ion-button> -->

  <!-- <div style="margin-top: 16px;"></div> -->

  <!-- <ion-tree-view [items]="treeData" persistedName="persistedName" treeViewName="treeViewName"></ion-tree-view> -->
  
  <ng-container *ngTemplateOutlet="treeTpl;context:{$implicit:{items:departmentTree,root:true}}"></ng-container>
  <ng-template #treeTpl let-context>
    <ion-list mode="md">
      <div *ngFor="let item of context.items" [ngClass]="context.root?'root':''">
        <ion-icon  style="float: left;" mode='md' [name]="item.hidden===false?'arrow-dropdown':'arrow-dropright'" *ngIf="getColor(item) != '#f87a85'"></ion-icon>
        <ion-checkbox [(checked)]="item.checked" [(ngModel)]="item.checked" (ionChange)="checkboxClick(item,$event.detail.checked)"></ion-checkbox>
        <ion-label style="padding-left: 16px;" (click)="itemClick(item)" [ngStyle]="{'color': getColor(item)}">{{item.text}}</ion-label>
        <div *ngIf="item.collapse!==false">
          <ng-container *ngTemplateOutlet="treeTpl;context:{$implicit:{items:item.children,root:false}}"></ng-container>
        </div>
      </div>
    </ion-list>
  </ng-template>
</ion-content>