<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-title>南宁市住房局OA管理系统</ion-title>
  </ion-toolbar>
  <div class="bg">
    <h1 class="title"></h1>
    <p class="title">住房局OA管理系统</p>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="block" [ngStyle]="{'background-color':item.bgcolor,'background-image':'url(/assets/'+(i+1)+'.png)','color':item.forecolor}"
    *ngFor="let item of titleArr, let i = index" (click)="pushDocumentList(i)">
    <ion-label [ngStyle]="{'borderTopColor':item.forecolor}">{{item.text}}</ion-label>
    <ion-note color="danger" *ngIf="countArr.length && countArr[i] > 0">({{countArr[i]}})</ion-note>
    <ion-icon name="arrow-round-forward"></ion-icon>
  </div>
</ion-content>