.mybg {
  height: 32.2vh;
  width: 100%;
  background-image: url(../../assets/image/bg3.png);
  background-size: 100%;
  display: inline-block;
}
.personal {
  margin-top: 9.74vh;
  height: 11.24vh;
  margin-left: 2rem;
}
.headPortrait {
  width: 11.24vh;
  height: 100%;
  border-radius: 50%;
  background-color: red;
}
