* {
  margin: 0;
  padding: 0;
}
.phoneNumber {
  --background: var(--ion-background-color, #f3f3f3);
}
.changeFrom {
  margin-top: 1rem;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  background: #fff;
}
.changeFrom span {
  padding: 0 1rem;
  font-weight: 400;
}
