// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-primary {
  --ion-color-base: #4877fb !important;
}

.title-ios.hydrated {
  font-weight: 400;
}
ion-picker-column .picker-opts {
  margin: 0 auto;
}
.action-sheet-button-inner {
  justify-content: center !important;
}
.action-sheet-button {
  text-align: center;
}
.picker-toolbar-button {
  width: 50%;
  button {
    width: 100%;
    text-align: left;
  }
}
.picker-toolbar-button:last-child button {
  text-align: right !important;
}

.toastClass{
  text-align: center;
}
.header-md:after{
  display: none;
}
