<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button text='返回'></ion-back-button>
    </ion-buttons>
    <ion-title>移交</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handin()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 3:收文 4:发文-->
  <department-select *ngIf="isshow" [selectedType]="'3'" [listdataArr]="hasSelected" [selectedList]="hasSelected"
    (selected)="hostSelected($event.items)"></department-select>
  <department-select *ngIf="!isshow" [selectedType]="'4'" [listdataArr]="hasSelected" [selectedList]="hasSelected"
    (selected)="hostSelected($event.items)"></department-select>
</ion-content>