<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button style="display:block" text=''></ion-back-button>
    </ion-buttons>
    <ion-title>移交</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handin()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <department-select [isSingleSlect]="'3'" [hasSelected]="hasSelected" (selected)="hostSelected($event.items)"></department-select>
</ion-content>