<ion-header>
  <ion-toolbar>
    <ion-title>个人信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <ion-list class="personList">
    <div class="flexBox" (click)="detailCheck()">
      <div class="flexLeftContent detailInfo flex1W100">
        <p class="flex1W100 flexBox">
          <span class="flexLeftContent">头像</span>
          <span class="flexRightContent flex1W100 text-right">
            <img src="bg.jpg" alt="" />
          </span>
        </p>
      </div>
      <div class="flexRightContent icon-right">
        <i class="iconfont">&#xe955;</i>
      </div>
    </div>
  </ion-list>
  <ion-list class="personList">
    <div class="flexBox">
      <div class="flexLeftContent detailInfo flex1W100">
        <p class="flex1W100 flexBox">
          <span class="flexLeftContent">性别</span>
          <span class="flexRightContent flex1W100 text-right">
            男
          </span>
        </p>
      </div>
      <div class="flexRightContent icon-right">
        <i class="iconfont">&#xe955;</i>
      </div>
    </div>
  </ion-list>
  <ion-list class="personList">
    <div class="flexBox">
      <div class="flexLeftContent detailInfo flex1W100">
        <p class="flex1W100 flexBox">
          <span class="flexLeftContent">生日</span>
          <span class="flexRightContent flex1W100 text-right">
            2019/12/12
          </span>
        </p>
      </div>
      <div class="flexRightContent icon-right">
        <i class="iconfont">&#xe955;</i>
      </div>
    </div>
  </ion-list>
  <ion-list class="personList">
    <div class="flexBox">
      <div class="flexLeftContent detailInfo flex1W100">
        <p class="flex1W100 flexBox">
          <span class="flexLeftContent">手机号码</span>
          <span class="flexRightContent flex1W100 text-right">
            110***********110
          </span>
        </p>
      </div>
      <div class="flexRightContent icon-right">
        <i class="iconfont">&#xe955;</i>
      </div>
    </div>
  </ion-list>
  <ion-list class="personList">
    <div class="flexBox">
      <div class="flexLeftContent detailInfo flex1W100">
        <p class="flex1W100 flexBox">
          <span class="flexLeftContent">办公电话</span>
          <span class="flexRightContent flex1W100 text-right">
            0771-123456798
          </span>
        </p>
      </div>
      <div class="flexRightContent icon-right">
        <i class="iconfont">&#xe955;</i>
      </div>
    </div>
  </ion-list>
</ion-content>
