.kp {
  position: relative;
  border-radius: 3px;
  background-color: white;
  margin: 5px 10px;
  min-height: 9vh;
}

.kpnr {
  width: 100%;
  padding: 5px 5px 5px 1rem;
}

.label {
  display: inline-block;
  min-width: 48%;
  margin-right: 2%;
  font-size: 0.6rem !important;
  padding-top: 8px;
  font-size: 14px;
}

.label-nopa{
  margin-right: 0;
}

.kpbt {
  font-weight: 600
}